<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addtaskForm">
    <ion-item>
      <ion-input placeholder="Title" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Content" formControlName="content"></ion-input>
    </ion-item>
    <ion-button float-right (click)="addTask()" >Add</ion-button>
  </form>
</ion-content>