<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ task.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="delTask()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col> <ion-img [src]="task.image"></ion-img> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <h2 text-center>{{ task.title }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p style="text-align: justify;">{{ task.content }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ task.date }}</p>
      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content>
