<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TO DO</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/addtask']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of todo" [routerLink]="['./',task.id]">
      <ion-avatar slot="start">
        <ion-img [src]="task.image"></ion-img>
      </ion-avatar>
      <ion-label>{{ task.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
